:root {
    --min-width: 20rem;
    --max-width: 40rem;
    --bg-base-color: #ddd;
    --bg-grad-color: #ccc;
    --border-color: #999;
    --text-light-color: #444;
}

body {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    background: var(--bg-base-color);
    background: linear-gradient(
        to right,
        var(--bg-grad-color),
        var(--bg-base-color),
        var(--bg-grad-color));
    font-family: sans-serif;
    overflow-y: scroll;
}

/* HEADER */

header {
    text-align: center;
}

header > div {
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin: 0 auto;
}

header .logo {
    float: left;
    padding: 0.5rem;
}

header .logo img {
    height: 4rem;
    width: 4rem;
}

header h1 {
    text-shadow: 2px 2px 2px #444;
}

header a {
    padding: 0.5rem 1rem;
    border: 1px solid var(--border-color);
    color: var(--text-light-color);
    background-color: #e0e0e0;
    text-align: center;
    text-decoration: unset;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
}

header a:hover {
    background-color: #f0f0f0;
}

header a:active {
    background-color: #d0d0d0;
}

header .disabled {
    color: #ccc;
    pointer-events: none;
    cursor: default;
}

/* MAIN */

article, footer p {
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin: 0 auto;
}

aside {
    display: none;
    float: left;
    padding: 1rem;
    border: 1px solid var(--border-color);
    margin: 1rem;
    min-width: 15rem;
    width: 15rem;
    height: 100%;
}

figure {
    margin: 0;
    margin-bottom: 1rem;
}

figcaption {
    text-align: center;
}

footer {
    padding-top: 1rem;
    text-align: right;
    font-size: small;
    color: var(--text-light-color);
}

pre {
    background-color: #e0e0e0;
}

.snippet {
    padding: 1rem;
    border: 1px solid var(--border-color);
    margin-bottom: 1rem;
}

.docs div:first-of-type {
    margin-left: 10%;
}

.links div:first-of-type{
    padding-left: 12.5%;
    padding-right: 12.5%;
}

.centered {
    text-align: center;
}

.one-column {
    clear: both;
}

.two-columns {
    width: 50%;
}

.three-columns {
    min-width: 7.5rem;
    width: 30%;
}

.left {
    float: left;
}

.center {
    float: left;
}

.right {
    float: right;
}

/* TEXT */

a {
    text-decoration: none;
}

a[href*="http"] {
    background: url('images/icons/outlink.png') no-repeat 100% 0;
    background-size: 0.75rem;
    padding-right: 0.85rem;
}

a[href*="mailto"] {
    background: url('images/icons/email.png') no-repeat 100% 0;
    background-size: 1rem;
    padding-right: 1.25rem;
}

.checklist {
    padding-left: 0;
}

.checklist li {
    list-style: none;
    list-style-position: outside;
    background: url('images/icons/check.png') no-repeat 0 0.1rem;
    background-size: 1rem 1rem;
    padding-left: 1.5rem;
}

.checklist li.wip {
    background: url('images/icons/checkn.png') no-repeat 0 0.1rem;
    background-size: 1rem 1rem;
    padding-left: 1.5rem;
}

hr {
    border: 1px solid var(--border-color);
}

h1, h2 {
    text-align: center;
}

