/* REFERENCE
--min-width: 20rem;
--max-width: 40rem;
--bg-base-color: #ddd;
--bg-grad-color: #ccc;
--border-color: #999;
--text-light-color: #444;
*/

body {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    background: #ddd;
    background: linear-gradient(to right, #ccc, #ddd, #ccc);
    font-family: sans-serif;
    overflow-y: scroll;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

header > div, header > div > div > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header > div > div {
    display: flex;
    flex-direction: column;
}

header .logo {
    padding: 0.5rem;
    min-width: 5rem;
}

header .logo img {
    height: 4rem;
    width: 4rem;
}

header h1 {
    text-shadow: 2px 2px 2px #444;
}

header .menu {
    padding: 0.5rem 1rem;
    border: 1px solid #999;
    color: #444;
    background-color: #e0e0e0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
}

header .menu:hover {
    background-color: #f0f0f0;
}

header .menu:active {
    background-color: #d0d0d0;
}

header .disabled {
    color: #ccc;
    pointer-events: none;
    cursor: default;
}

/* MAIN */

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

article {
    display: flex;
    flex-direction: column;
}

article, footer p {
    min-width: 20rem;
    max-width: 40rem;
    width: 100%;
    margin: 0 auto;
}

aside {
    display: none;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #999;
    margin: 1rem;
    min-width: 15rem;
    height: 100%;
    font-size: larger;
}

figure {
    margin: 0;
    margin-bottom: 1rem;
}

figcaption {
    text-align: center;
}

footer {
    padding-top: 1rem;
    text-align: right;
    font-size: smaller;
    color: #444;
}

h3 {
    font-size: 100%;
}

h4 {
    font-size: 80%;
    font-style: italic;
    margin-bottom: 0rem;
}

hr {
    width: 100%;
}


pre {
    background-color: #e0e0e0;
    white-space: pre-wrap;
    padding: 2px;
    border: 1px solid #888;
}

noscript {
    color: maroon;
}

.snippet, .section {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.snippet {
    border: 1px solid #999;
}

.docs div:first-of-type {
    margin-left: 10%;
}

.links div:first-of-type{
    padding-left: 12.5%;
    padding-right: 12.5%;
}

.centered {
    text-align: center;
}

.columns {
    display: flex;
    flex-direction: row;
}

.columns > div {
    width: 100%;
}

/* TEXT */

a {
    text-decoration: none;
}

a[href*="http"] {
    background: url('images/icons/outlink.png') no-repeat 100% 0;
    background-size: 0.75rem;
    padding-right: 0.85rem;
}

a[href*="mailto"] {
    background: url('images/icons/email.png') no-repeat 100% 0;
    background-size: 1rem;
    padding-right: 1.25rem;
}

p {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.checklist {
    padding-left: 0;
}

.checklist li {
    list-style: none;
    list-style-position: outside;
    background: url('images/icons/check.png') no-repeat 0 0.1rem;
    background-size: 1rem 1rem;
    padding-left: 1.5rem;
    font-size: medium;
}

.checklist li.wip {
    background: url('images/icons/checkn.png') no-repeat 0 0.1rem;
    background-size: 1rem 1rem;
    padding-left: 1.5rem;
}

.star {
    width: 1rem;
}

hr {
    border: 1px solid #999;
}

h1, h2 {
    text-align: center;
}

